<nav class="sidebar sidebar-offcanvas" id="sidebar">
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" href="/">
				<i class="mdi mdi-grid-large menu-icon"></i>
				<span class="menu-title">Dashboard</span>
			</a>
		</li>
		<li class="nav-item nav-category">Gestion</li>
		<li class="nav-item">
			<a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
				<i class="menu-icon mdi mdi-floor-plan"></i>
				<span class="menu-title">Categorie</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse" id="ui-basic">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item">
						<a class="nav-link" href="/categorielist">List</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/categorieadd">Ajout</a>
					</li>
					
				</ul>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
				<i class="menu-icon mdi mdi-cart"></i>
				<span class="menu-title">Produit</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse" id="ui-basic">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item">
						<a class="nav-link" href="/produitlist">List</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/produitadd">Ajout</a>
					</li>
					
				</ul>
			</div>
		</li>
		<li class="nav-item nav-category">Mouvement</li>
		<li class="nav-item">
			<a class="nav-link" data-bs-toggle="collapse" href="#ui-second" aria-expanded="false" aria-controls="ui-second">
				<i class="menu-icon mdi mdi-minus"></i>
				<span class="menu-title">Sortie</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse" id="ui-second">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item">
						<a class="nav-link" href="/categorielist">List</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/categorieadd">Ajout</a>
					</li>
					
				</ul>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-bs-toggle="collapse" href="#ui-second" aria-expanded="false" aria-controls="ui-second">
				<i class="menu-icon mdi mdi-plus"></i>
				<span class="menu-title">Entree</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse" id="ui-second">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item">
						<a class="nav-link" href="/produitlist">List</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/produitadd">Ajout</a>
					</li>
					
				</ul>
			</div>
		</li>
		
		<li class="nav-item">
			<a class="nav-link" data-bs-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
				<i class="menu-icon mdi mdi-table"></i>
				<span class="menu-title">Tables</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse" id="tables">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item">
						<a class="nav-link" href="pages/tables/basic-table.html">Basic table</a>
					</li>
				</ul>
			</div>
		</li>
		
		<li class="nav-item nav-category">pages</li>
		<li class="nav-item">
			<a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
				<i class="menu-icon mdi mdi-account-circle-outline"></i>
				<span class="menu-title">User Pages</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse" id="auth">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item">
						<a class="nav-link" href="/logout">
							Se deconnecter
							
						</a>
					</li>
				</ul>
			</div>
			{% if app.user and "ROLE_ADMIN" in app.user.roles %}
			<div class="collapse" id="auth">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item">
						<a class="nav-link" href="/register">
							ajouter utilisateur
						</a>
					</li>
				</ul>
			</div>
			{% endif %}
		</li>
		<li class="nav-item nav-category">help</li>
		<li class="nav-item">
			<a class="nav-link" href="/">
				<i class="menu-icon mdi mdi-file-document"></i>
				<span class="menu-title">Documentation</span>
			</a>
		</li>
	</ul>
</nav>
