{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!
{% endblock %}

{% block bodyContent %}

	<div class="main-panel">
		<div class="content-wrapper">
			<div class="row">
				<div class="col-lg-12 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Liste des Categories</h4>
							<p class="card-description">
								Vous trouverez ici la liste des categories disponile
							</p>
							<div class="table-responsive">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>nomCategorie</th>
											<th>Modifier</th>
											<th>Supprimer</th>
										</tr>
									</thead>
									<tbody>
										{% for category in categorie%}
											<tr>
												<td>
													{{category.nom}}
												</td>
												<td class="text-danger">
													Modifier
													<i class="ti-cross"></i>
												</td>
												<td>
													<label class="badge badge-warning">Supprimer</label>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
	{% block addjs %}
		<script src="{{("template/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js")}}"></script>
	{% endblock %}
